body {
  margin: 0;
}

header,
main,
footer {
  background-color: #eee;
  margin-bottom: 1%;
  padding: 2%;
}

.box {
  width: 10%;
  aspect-ratio: 1/1;
  padding: 1%;
  margin: 0.3%;
}

#container {
  position: relative;
  border: 3px red dashed;
  width: 100%;
  aspect-ratio: 10/9;
}

/* SKRIV KUN KODE HERUNDER */

.redBox {
  background-color: #ff1d00;
  scale: 1.92;
  translate: 300% 100%;
  rotate: 45deg;
  position: absolute;
  z-index: 4;
}

.yellowBox {
  background-color: #ffeb00;
  scale: 2.7;

  translate: 300% 230%;
  position: absolute;
  z-index: 5;
}

.pinkBox {
  background-color: #ff9ecf;
  scale: 0.4 1.2;

  translate: 400% 30%;
  position: absolute;
  z-index: 3;
}

.greenBox {
  background-color: #1fd81f;
  scale: 0.8;

  translate: 360% 237%;
  position: absolute;
  z-index: 6;
}

.blueBox {
  background-color: #0180fc;
  scale: 0.8 1.7;

  translate: 250% 282%;
  position: absolute;
  z-index: 6;
}
